/* div {
    scroll-behavior: smooth;
} */

.details {
    /* display: flex; */
    padding: 1%;
    color: #382f2f;
}

.map {
    width: 60%;
    position: relative;
    left: 20%;
    justify-content: center;
    height: 100vh;
    margin-left: 1%
}

.maincontac {
    background: white;
    background: rgb(220, 220, 229);
    position: sticky;
    top: 0;
}

.maincontac h1 {
    text-align: center;
    padding-top: 1%;
    color: #1f6f8b
}

.contact-details {
    margin-top: 3%;
    text-align: center;
}

.cardsec {
    display: flex;
    margin: 2%;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    transform: translateY(-100px);
}

.abpart {
    /* padding: 1%; */
    position: sticky;
    top: 0;
    /* padding-bottom: 10%; */
}

.abpart1 {
    background: #0f2542;
    ;
    position: sticky;
    top: 0;
    height: 100vh;
}

.nebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* padding-right: 9%; */
}

.abpart2 {
    height: 100vh;
    /* margin: 20% 0%; */
    padding-top: 3%;
    background-color: rgb(196, 191, 191);
    position: sticky;
    top: 0;
}

.blogs {
    height: 100vh;
    position: sticky;
    padding-bottom: 12%;
    top: 0;
    background-color: whitesmoke;
}

@media (max-width: 990px) {
    .nebtn {
        position: relative;
        /* right: 15vw; */
    }
    .cardsec {
        display: flex;
        flex-wrap: wrap;
        direction: row 1;
        /* margin-left: 12%; */
        transform: translateY(0px);
        position: sticky;
        /* top: 0; */
        /* background-color: white */
    }
    .abpart {
        position: relative;
    }
    /* .abpart1 {
        position: relative;
    } */
    .abpart2 {
        background: rgb(196, 191, 191);
    }
    .blogs {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-right: 35%; */
        align-content: center;
        position: sticky
        /* padding-top: 15%; */
    }
    .map {
        height: 50vh;
        width: 70%;
    }
}