.Allstat {
    width: 100%;
    background: #ffffff;
    padding: 50px;
    display: flex;
    color: #FEC300
}

.stats {
    margin: 9%
}

.stats h1 {
    font-weight: 900;
}

@media (max-width: 990px) {
    .Allstat {
        display: block;
    }
    .stats {
        text-align: center;
        margin-bottom: 25%
    }
}