.custom-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2%;
    padding: 1%;
    margin: 2%;
    color: #1f6f8b;
    padding: 1%;
    padding: 30px 0px;
    height: 150px;
    width: 300px;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.3s;
    cursor: pointer;
    position: relative;
}

.custom-card:hover {
    height: 300px;
}

.content {
    padding: 4%;
    text-align: center;
    /* transform: translateY(-460px); */
    transition: 0.3s;
    opacity: 0
}

.content:hover {
    text-align: center;
    /* transform: translateY(0px); */
    opacity: 1;
}


/* CustomCard.css */

.custom-icon {
    width: 100%;
    margin-bottom: 10px;
}

.custom-image {
    position: relative;
    /* left: 25px; */
    transform: translateY(-90px);
    position: relative;
    left: 20%;
    width: 60%;
    border-radius: 20px;
    /* Make the image responsive */
}

.card-title {
    text-align: center;
}

.content {
    text-align: center;
}

@media (min-width: 576px) {
    .custom-card {
        width: 48%;
        /* Two cards side by side on small screens */
    }
}

@media (min-width: 768px) {
    .custom-card {
        width: 48%;
        /* Two cards side by side on medium screens */
    }
}

@media (min-width: 992px) {
    .custom-card {
        width: 48%;
        /* Two cards side by side on large screens */
    }
}

@media (min-width: 1200px) {
    .custom-card {
        width: 48%;
        /* Two cards side by side on extra-large screens */
    }
}