/* Hero1.css */

.hero-container {
    background-size: cover;
    color: white;
    text-align: center;
    padding: 12%;
    justify-content: center;
    transition: background 9.5s ease;
    animation: changeBackground 20s infinite;
    height: 100vh;
    background-position: center;
    /* Adjust the alpha value (0.6) for transparency */
    /* Set the animation duration as needed */
}

.navbarr {
    position: relative;
    bottom: 55%
}

.hero-container h1 {
    display: inline-block;
    font-size: 6vw;
    white-space: nowrap;
    color: #FEC300;
    animation: typeAndDelete 4s steps(16) infinite, blinkCursor 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid; */
}

.hero-container p {
    font-size: 4vw;
}

@keyframes changeBackground {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/pexels-creapattern-2578326.jpg');
    }
    50% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/modern-business-center-hongkong.jpg');
    }
    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/pexels-creapattern-2578326.jpg');
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media (max-width: 990px) {
    .hero-container h1 {
        font-size: 11vw;
        position: relative;
        top: 25vh
    }
    .hero-container p {
        position: relative;
        top: 32vh;
        font-size: 6vw;
    }
    .navbarr {
        bottom: 0%
    }
}