.nebtn1 {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


/* @media (max-width: 990px) {
    .btn {
        align-content: center;
    }
} */